.header-section{
  .header-title{
    color: $cod-gray;
    font-size: $body-size;
    font-weight: 700;
    line-height: $body-text-height;
    margin: 0;
    margin-bottom: 16px;
  }
  p{
    margin: 0;
    color: $cod-gray;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;


    a{
      text-decoration: none;
      opacity: 0.7;
    }
  }
  .navbar-section{
    position: relative;
    display: flex;
    margin-top: 35px;
    margin-bottom: 55px;
    .nav-left{
      left: 0;

      .main-menu{
        li{
          display: inline-block;

          a{
            text-decoration: none;
            color: $cod-gray;
            padding: 14px 30px;
            border: 1px solid #E5E5E5;
            border-radius: 8px;
            font-weight: 600;
            font-size: $body-size;
            line-height: $body-text-height;
            img{
              margin-left: 10px;
            }
          }
          .more{
            border: none;
            padding: 0;
            color: $blue;
          }
        }
      }
    }
    .nav-right{
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      .icon{
        margin: 0;
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        span{
          font-size: $body-size;
          line-height: $body-text-height;
          font-weight: 600;
          color: $cod-gray;
          margin-left: 15px;
        }
        
      }
      .map{
        padding-right: 30px;
        padding-left: 30px;
      }
      .frame-icon {
        background-color: $blue;
        margin-left: 0;
        border: none;
      }
    }
  }
}