/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1280px) {}



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {

  .card-item {
    width: 100% !important;
  }

  .navbar-section-button {
    display: block !important;
  }

  .header-section .navbar-2 {
    position: inherit !important;
    margin-top: 20px;
  }


}




/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


@media (max-width: 767px) {

  .section-wrapper {
    display: inherit !important;
  }

  .main-section .contents-wrapper {
    width: 100% !important;
  }

  .sidbar-wrap {
    width: 100% !important;
    margin-left: inherit !important;
  }

  .header-section .navbar-section .nav-right .icon {
    width: inherit !important;
    height: inherit !important;

    img {
      display: inline-block !important;
    }
  }

  // list-vew-----------------------

  .list-view {
    .card-item {
      display: inherit !important;

      .card-figure {
        width: 100% !important;
      }

      .card-content {
        width: 100% !important;
        margin-top: 50px !important;
        margin-left: 0 !important;
      }
    }
  }

  // ================BOOKING style ========================

  .booking-wrap .header-section {

    margin-bottom: 160px !important;

    .cuntact {
      right: inherit !important;
      top: 50px;
      left: 74px;

      h3 {
        text-align: inherit !important;
      }
    }

  }

  body .booking-wrap:after {
    top: 200px !important;
  }


  .booking-wrap .section-wrapp {
    display: inherit !important;
  }

  .booking-wrap .section-wrapp .contents-wrapp .content-section {
    width: 100% !important;
  }

  .booking-wrap .section-wrapp .sidbar-wrapp .content-section {
    width: 100% !important;
    position: inherit !important;
  }


}