html,
body {
    font-family: 'Fira Code', monospace;
  img {
      max-width: 100%;
  }

  figure {
      margin-bottom: 0;
  }

  a {
      display: inline-block;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
}